- action = @visit.persisted? ? "update" : "create"

= form_for @visit, url: { action: action } do |f|
  .form-fields
    .form-group
      = f.label :zipcode, "Where are you going?"
      = f.text_field :zipcode, class: "form-control"
      %span Zip Code near your destination.

    .form-group
      %label When?
      = f.hidden_field :start_date, class: "form-control"
      = f.hidden_field :end_date, class: "form-control"
      %div.datepicker
      %span.dateText Arrival and departure dates

    .form-group
      = f.label :num_travelers, "How many total travelers?"
      = f.select :num_travelers,
        options_for_select((1..10).zip(1..10), @visit.num_travelers || nil),
        {},
        { class: 'form-control' }
      %span Including yourself.

  = f.submit "Contact Hosts", class: 'btn btn-success btn-block btn-lg'
