<div class="user-new-visit">
  <a class="home btn btn-info btn-sm" href="<%= user_url(current_user) %>"> << Back </a>
  <header>
    <h1>Travel</h1>
  </header>

  <%= form_for @visit do |f| %>
    <%= f.label :zipcode, "Where are you going?" %>
    <%= f.text_field :zipcode %>
    <span>Zipcode near your destination</span>

    <%= f.label :start_date, "Starting when?" %>
    <%= f.text_field :start_date %>
    <span>Arrival date</span>

    <%= f.label :end_date, "Ending when?" %>
    <%= f.text_field :end_date %>
    <span>Departure date</span>

    <%= f.label :num_travelers, "How many total travelers?" %>
    <%= f.select :num_travelers, (1..7).zip(1..7) %>
    <span>Including yourself</span>

    <%= f.submit "Contact Hosts", class: 'submit' %>
  <% end %>
</div>
