%div.available-hosts
  = render "home/navbuttons"
  - if @visit.available_hostings(current_user).empty?
    = render 'empty_visits'
  - else
    %header
      %h1.hosts-heading Hosts near #{ @visit.zipcode }
      %span Contact any good matches below
    %div.panel-group#accordion{ "role" => 'tablist', "aria-multiselectable" => 'true' }
      = render "hosts", visit: @visit

  %footer
    %p.text-center
      = link_to "Submit Feedback",
        "http://goo.gl/forms/T219vo5Wt4",
        class: 'btn btn-info btn-md',
        target: '_blank'
