%div.available-hosts
  %div.group
    =link_to("« Home", user_url(current_user), class: 'btn btn-info btn-sm left')
    =link_to("Sign Out", signout_url, method: :delete, class: "btn btn-info btn-sm right")
  - if @visit.available_hostings.empty?
    %header
      %h1
        %strong Nobody here, yet.
      %span We've got your email and we'll contact you when we have a possible match.
  - else
    %header
      %h1.hosts-heading Hosts near #{ @visit.zipcode }
      %span Contact any good matches below
      %div#accordion
        - @visit.available_hostings.each do |hosting|
        - host_name = hosting.first_name
        - button_text = hosting.was_contacted_by?(current_user) ? "Contacted" : "Contact"
          %div
            %ul
              %li
                %h2 #{ host_name }
              %li
                %span #{ hosting.zipcode } - #{ hosting.distance.round(1) } miles
              %li
                %small Space for #{ hosting.max_guests }
            %button #{ button_text }
          - if hosting.was_contacted_by?(current_user)
            %div
          - else
            = render 'contact_host_instructions',
              host_name: host_name,
              hosting: hosting,
              visit: @visit
  %footer
    %a.cancel Submit Feedback
