%div.available-hosts
  = render "home/navbuttons"
  - if @visit.available_hostings.empty?
    %header
      %h1
        %strong Nobody here, yet.
      %span We've got your email and we'll contact you when we have a possible match.
  - else
    %header
      %h1.hosts-heading Hosts near #{ @visit.zipcode }
      %span Contact any good matches below
    %div.panel-group#accordion{ "role" => 'tablist', "aria-multiselectable" => 'true' }
      - @visit.available_hostings.each_with_index do |hosting, index|
      - host_name = hosting.first_name
      - heading_id = "heading#{ index }"
      - tab_id = "collapse#{ index }"
        - if hosting.was_contacted_by?(current_user)
          - button_text = "✔ Contacted"
          - button_class = "btn btn-success btn-md right"
          - button_collapsable = ""
        - else
          - button_text = "Contact"
          - button_class = "btn btn-info btn-md right"
          - button_collapsable = "collapse"
        %div.panel
          %div.panel-heading.group{ role: 'tab', id: "#{ heading_id }" }
            %h4.panel-title.left
              %ul
                %li
                  %h2 #{ host_name }
                %li
                  %span #{ hosting.zipcode } - #{ hosting.distance.round(1) } miles
                %li
                  %small Space for #{ hosting.max_guests }
            %a{ href: "##{ tab_id }",
                "role" => "button",
                class: "#{ button_class } contact-button",
                "data-toggle" => "#{ button_collapsable }",
                "data-parent" => "#accordion",
                "aria-expanded" => "false" ,
                "aria-controls" => "#{ tab_id }" } #{button_text}
          %div.panel-collapse.collapse{"role" => "tabpanel",
                                       id: "#{tab_id}",
                                       "aria-labelledby" => "#{heading_id}",
                                       "aria-expanded" => "false" }
            %div.panel-body
              - unless hosting.was_contacted_by?(current_user)
                = render 'contact_host_instructions',
                  host_name: host_name,
                  hosting: hosting,
                  visit: @visit
                %a{ href: "##{ tab_id }",
                    "role" => "button",
                    class: "btn btn-info btn-block btn-lg half-bump",
                    "data-toggle" => "#{ button_collapsable }",
                    "data-parent" => "#accordion",
                    "aria-expanded" => "false" ,
                    "aria-controls" => "#{ tab_id }" } Cancel

  %footer
    %a.btn.btn-default.btn-lg.center-block Submit Feedback
