- button_text = @user.email_confirmed ? 'Save' : 'Send Email Confirmation'

.profile-page
  %a.home.btn.btn-info.btn-sm << Home
  %p.lead.text-center Profile

  = form_for @user, url: { action: 'update' } do |f|
    = f.label :email, 'Your email address:'
    = f.email_field :email
    %span We'll send you email notifications.

    = f.label :first_name, 'What\'s your first name?'
    = f.text_field :first_name, placeholder: 'First name'

    = f.label :phone, 'What\'s your phone number?'
    = f.phone_field :phone, placeholder: 'Phone number'
    %span We'll send this when you contact someone.

    = f.submit button_text, class: 'submit'

  = button_to 'Delete Account',
    { action: 'destroy', id: @user.id },
      method: 'delete',
      data: { confirm: "Are you sure? This will permanently delete your account." }
