<div class="user-home">
  <a class="home btn btn-info btn-sm" href="<%= user_url(current_user) %>"> << Home </a>
  <header>
    <h1>Bernie BNB</h1>
  </header>

  <section class="user-travels">
    <header>
      <%= link_to "Find A Host", new_user_visit_url(user) %>
      <small>"On the road for Bernie?"</small>
    </header>
    <% unless user.visits.empty? %>
      <ul>
        <% user.visits.each do |visit| %>
          <li>
            <%= link_to visit.short_details, edit_visit_url(visit) %>
          </li>
        <% end %>
      </ul>
    <% end %>
  </section>


  <section class="user-hostings">
    <header>
      <%= link_to "I Can Host", new_user_hosting_url(user) %>
      <small>"Have room to share?"</small>
    </header>
    <% unless user.hostings.empty? %>
      <ul>
        <% user.hostings.each do |hosting| %>
          <li>
            <%= link_to hosting.short_details, edit_hosting_url(hosting) %>
          </li>
        <% end %>
      </ul>
    <% end %>
  </section>
</div>
