%div.user-home
  %div.group
    =link_to("« Profile", edit_user_url(current_user), class: 'btn btn-info btn-sm left')
    =link_to("Sign Out", signout_url, method: :delete, class: "btn btn-info btn-sm right")

  %header.heading
    %p.lead.text-center.bump
      %img.img-logo{src: image_url('bernie-bnb-logo.png')}

  %section.user-travels
    %header
      = link_to 'Find A Host', new_user_visit_url(user), class: 'btn btn-success btn-block btn-lg'
      %span On the road for Bernie?
    - unless user.visits.empty?
      %ul
        - user.visits.each do |visit|
          %li
            = link_to edit_visit_url(visit), class: ['btn btn-default btn-block btn-lg'], role: 'button' do
              = visit.location
              .small-details
                = visit.date

  %section.user-hostings
    %header
      = link_to 'I Can Host', new_user_hosting_url(user), class: 'btn btn-danger btn-block btn-lg'
      %span Have room to share?
    - unless user.hostings.empty?
      %ul
        - user.hostings.each do |hosting|
          %li
            = link_to edit_hosting_url(hosting), class: ['btn btn-default btn-block btn-lg'], role: 'button' do
              = hosting.location
              .small-details
                = hosting.guest_details

      .text-center.share
        = link_to '#', class: 'btn-share facebook-share' do
          %i.fa.fa-facebook{ :type => 'button', :aria_hidden => 'true' }
          share
        = link_to 'https://twitter.com/intent/tweet' + |
                  '?hashtags=FeelTheBern,BernieBNB' + |
                  '&text=Get involved with @BernieSanders by offering campaign volunteers a place to stay!' + |
                  '&url=http://BernieBNB.com', |
                  class: 'btn-share twitter-share' do
          %i.fa.fa-twitter{ :type => 'button', :aria_hidden => 'true' }
          tweet
        %span Thanks for hosting!

  %footer
    %p.text-center
      = link_to "Submit Feedback",
        "http://goo.gl/forms/T219vo5Wt4",
        class: 'btn btn-info btn-md',
        target: '_blank'
    
