<%= form_for @feedback, url: contact_path do |feedback_form| %>
  <fieldset>
    <div class="field">
      <%= feedback_form.text_field :name, placeholder: "Name" %>
    </div>

    <div class="field">
      <%= feedback_form.email_field :email, placeholder: "Email"%>
    </div>

    <div class="field">
      <%= feedback_form.text_area :content, placeholder: "Message"%>
    </div>
  </fieldset>

  <fieldset>
    <div class="field">
      <%= feedback_form.submit "Send" %>
    </div>
  </fieldset>
<% end %>
