- action = @hosting.persisted? ? "update" : "create"

= form_for @hosting, url: { action: action } do |f|
  .form-fields
    .form-group
      = f.label :zipcode, "Where are you located?"
      = f.text_field :zipcode, class: 'form-control'
      %span.hosting Your zip code.

    .form-group
      = f.label :max_guests, "How many can you host?"
      = f.select :max_guests,
        options_for_select((1..10).zip(1..7), @hosting.max_guests || nil), 
        {},
        {class: 'form-control'}
      %span.hosting Preferred maximum number of guests.

  = f.submit "Save", class: 'btn btn-success btn-block btn-lg'
