<div class="user-new-hosting">
  <a class="home btn btn-info btn-sm" href="<%= user_url(current_user) %>"> << Back </a>
  <header>
    <h1>Host</h1>
  </header>

  <%= form_for @hosting do |f| %>
    <%= f.label :zipcode, "Where are you located?" %>
    <%= f.text_field :zipcode %>
    <span>Your zip code.</span>

    <%= f.label :max_guests, "How many can you host?" %>
    <%= f.select :max_guests, (1..7).zip(1..7) %>
    <span>Preferred maximum number of guests.</span>

    <%= f.submit "Save", class: 'submit' %>
  <% end %>
</div>
