<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <%= csrf_meta_tags %>

  <% description = "Home sharing for Bernie Sanders supporters. Helping connect volunteers out on the campaign trail with a place to stay. Sign up today as either host or traveler!" %>

  <meta property="og:title" content="BernieBNB.com" />
  <meta property="og:description" content="<%= description %>" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="http://www.berniebnb.com" />
  <meta property="og:image" content="<%= image_url 'bernie-bnb-logo.png' %>" />

  <meta name="twitter:card" content="summary" />
  <meta name="twitter:description" content="<%= description %>" />

  <title>BernieBNB</title>
  <%= favicon_link_tag '/favicon.ico' %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
</head>

<body id="<%= params[:controller] %>" class="<%= params[:action] %>">

  <div class="row">
    <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">

    <p class="alert"><%= alert %></p>

    <% if flash[:notice] %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>

    <% if flash[:errors] %>
      <% flash[:errors].each do |error| %>
        <div class="alert alert-danger"><%= error %></div>
      <% end %>
    <% end %>

    <%= yield %>

    </div>
  </div>

  <div id="fb-root"></div>
  <div id="twitter-wjs"></div>
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <span class="copyright">&copy; BernieBNB <%= Time.now.year %></span>
        </div>
        <div class="col-md-4">
          <%= link_to "Privacy Policy", privacy_policy_path %>
        </div>
        <div class="col-md-4">
          <ul class="list-inline quicklinks">
            <li><%= link_to "FAQ", page_path('faq') %></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
</body>
</html>
