<!DOCTYPE html>
<html>
<head>
  <title>BernieBNB</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<% unless current_user.nil? %>
  <header>
    <%= button_to "Sign Out", signout_url, method: :delete %>
  </header>
<% end %>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<% if flash[:errors] %>
  <% flash[:errors].each do |error| %>
    <p><%= error %></p>
  <% end %>
<% end %>

<%= yield %>

</body>
</html>
